<div id="navpanel" class="offcanvas offcanvas-start bg-dark" data-bs-backdrop="false">
  <ul>
    <li class="nav-item"><a routerLink='#' class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink='/' class="nav-link">Bands</a></li>
    <li class="nav-item"><a routerLink='/' class="nav-link">Projects</a></li>
    <li class="nav-item"><a routerLink='/' class="nav-link">Albums</a></li>
    <li class="nav-item"><a routerLink='/' class="nav-link">Playlists</a></li>
    <li class="nav-item"><a routerLink='/' class="nav-link">Settings</a></li>
  </ul>
</div>

