<div id="workspaceDiv" class="container-fluid completefill">
    <div class="row completefill">
        <div class="col-6 col-md-2">
            <div id="workspaceTopRow" class="row">
                <div class="col completefill">
                    <button id="newTrackBtn" class="btn btn-dark completefill" (click)="addNewTrack()">+ New Track</button>
                </div>  
            </div>
            <div *ngFor="let track of tracks" id="{{track}}" class="row trackDiv">
                <button class="btn btn-danger deleteBtn">X</button>
                <input type="text" value="{{track}}"/>
            </div>
        </div>
        <div class="col-6 col-md-10 completefill">
            <app-timeline></app-timeline>
        </div>
    </div>
</div>