/* You can add global styles to this file, and also import other style files */
html,body { 
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 
}

nav{
    width:100%;
}


#navpanel{
    position:absolute; 
    top:5%;
    width: 10%;
}

#navSearch{
    width: 50%;
    margin: 0 auto;
    display: inline-block;
}

#searchBar{
    width: 75%;
}

#content{
    width:100%;
    height:100%;
    padding-top:1%;
    margin: 0 auto;
    display: inline-block;
}

#playerDiv{
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    background-color: #232323;
    color:white;
}

#recordButton{
    color:red;
}

#playerDiv>button{
    color:white;
}

#workspaceDiv{
    background-color:#232323;
    overflow:scroll;
}

.completefill {
    padding: 0 !important;
    margin: 0 !important;
    height: 100% !important;
    /*border: white solid 1px; */
}

#workspaceTopRow{
    height:5%;
}

#newTrackBtn{
    width: 100%;
}

#timelineDiv{
    background-color:#232323;
    height:100%;
}

.trackDiv{
    background-color:#444444;
    height:15%;
    border-bottom: #232323 solid 1px;
    color:white;
}

.trackDiv > input{
    height:15%;
    width: 50%;
}

.deleteBtn{
    width:5%;
    height:15%;
    text-align:center;
    word-Wrap: break-word;
}