<div id="playerDiv" class="container-fluid d-flex">
  <button id="recordButton" class="btn"><i class="fas fa-circle"></i></button>
  <button id="jumpToStartButton" class="btn"><i class="fas fa-step-backward"></i></button>
  <button id="playButton" class="btn"><i class="fas fa-play"></i></button>
  <div id="timeDisplay"> <p id="timeDisplayText">{{currentTime}}|{{duration}}</p> </div>
  <button id="toggleMute" class="btn"><i class="fas fa-volume-down"></i></button>
  <input id="masterVolumeSlider" type="range"/>
</div>